*{
    margin: 0;
}
.header{
    margin-top: 30px;
    font-family: sans-serif;
}
.header-heading{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 350px;
    border: none;
   box-shadow: 3px 3px 10px 10px lightgray;
   text-align: center;
}
div img{
    width: 100%;
    margin: 0 0 0 0;
    fill: black;
}
.name {
    margin: 20px;
    font-weight: bold;
    font-size: 40px;
    font-family: sans-serif;
}
.student{
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}
.school{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder 1;
    font-size: 20px;
}
.contact-links-container{
    margin: 30px auto 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.contact-links-a{
    color: black;
    text-decoration: none;
    transition-delay: .2s;
}
.contact-links-a:hover{
    transform: scale(1.5);
}
.foot{
    background-color: black;
    color: white;
    width: 350px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
}
.foot-text{
    padding: 10px;
    font-family: sans-serif;
    font-size: 20px;
}